#mainAnchor{
    -fx-background-color: rgb(24, 30, 39);
}

#mainGrid{
    -fx-background-color: rgba(39, 43, 52, 0.935);
    -fx-padding: 20px;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-effect: dropshadow(three-pass-box, rgba(206, 206, 206, 0.849), 5, 0, 0, 0);
}

.label{
    -fx-text-fill: orange;
    -fx-font-size: 16px;
}

#typeChoiceBox .label{
    -fx-text-fill: black;
}

.button{
    -fx-text-fill: #fff;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #ff8820;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.500), 8, 0, 3, 3);
}

.button:hover{
    -fx-background-color: linear-gradient(to bottom, #ff8820, #fa953d);
}

#restaurantNameTextField{
    
}

#reportLabel{
    -fx-text-fill: rgb(255, 21, 21);
    -fx-font-size: 18px;
}

/* #selectImageButton{
    -fx-text-fill: #fff;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #ff8820;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.500), 8, 0, 3, 3);
}

#selectImageButton:hover{
    -fx-background-color: linear-gradient(to bottom, #ff8820, #fa953d);
} */

