#scrollPane{
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
 }

#mainBorderPane{
    -fx-background-color: -fx-pale-green;
}

#topMenu{
    -fx-padding: 20px;
    -fx-background-color: -fx-pale-green;
    -fx-spacing: 60px;
}

#centerPane{
    -fx-background-color: -fx-cream;
    -fx-padding: 50px;
}

#titleLabel{
    -fx-font-weight: 900;
    -fx-font-size: 28px;
}