#loginLabel, #signupLabel{
    -fx-font-weight: 900;
    -fx-font-size: 35px;
}

#background{
    -fx-background-image: url("../images/pexels-pixabay-326278.jpg");
    -fx-background-size: cover;
}

#container{
    -fx-background-color: -fx-pale-green;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.275), 20, 0, 0, 0);
    -fx-padding: 15px;
    -fx-spacing: 35;
}
