AnchorPane{
    -fx-background-color: #fff;
}

.container{
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-effect: dropshadow(three-pass-box, -fx-grey, 15, 0, 0, 0);
}

#mainContainer{
    -fx-background-color: -fx-pale-green;
}

#mainInfoContainer{
    -fx-background-color: -fx-cream;
    -fx-spacing: 40;
}

#phoneNumberLabel{
    -fx-text-fill: #04030fbc;
}

#addressContainer{
    -fx-spacing: 60;
    -fx-background-color: -fx-cream;
}

#addressTextFlow{
    -fx-font-size:16px;
}

#balanceContainer{
    -fx-background-color: -fx-cream;
    -fx-spacing: 50;
}

#signOutButton {
    -fx-font-size: 18px;
}
