#mainAnchor{
    -fx-background-color: -fx-pale-green;
}

#mainGrid{
    -fx-background-color: -fx-cream;
    -fx-padding: 20px;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-effect: dropshadow(three-pass-box, -fx-grey, 5, 0, 0, 0);
}

#typeChoiceBox{
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#typeChoiceBox .label{
    -fx-text-fill: -fx-dark;
}

#reportLabel{
    -fx-text-fill: rgb(255, 21, 21);
    -fx-font-size: 18px;
}

#selectedImageLabel{
    -fx-border-color: -fx-dark;
    -fx-border-style: dashed;
}