#mainAnchor {
    -fx-background-color: -fx-pale-green;
}

.container{
    -fx-background-color: -fx-cream;
    -fx-padding: 20px;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, -fx-grey, 5, 0, 3, 3);
}

#payButton {
    -fx-background-color: #18c824;
}

#payButton:hover {
    -fx-background-color: linear-gradient(to right, #18c824, #5fbe65);
}