.scroll-pane{
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#mainBorderPane {
    -fx-background-color: -fx-pale-green;
}

#titleLabel {
    -fx-font-weight: 900;
    -fx-font-size: 26px;
}

.HBox {
    -fx-spacing: 20px;
}
