/* .root {
    -fx-font-family: Ubuntu;
    -fx-text-fill: -fx-dark;
    -fx-font-size: 20px;
    -fx-font-weight: 800;
} */

.scroll-pane{
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#mainBorderPane {
    -fx-background-color: -fx-very-pale-blue;
}

#titleLabel {
    -fx-font-weight: 900;
    -fx-font-size: 26px;
}

/* following lines maybe not needed */

.button {
    -fx-background-color: -fx-red;
    -fx-text-fill: #fff;
    -fx-border-radius:25;
    -fx-background-radius:25;
    -fx-font-size: 16px;
}

.button:hover {
    -fx-background-color: -fx-red-hover;
}

.HBox {
    -fx-spacing: 20px;
}

.my-label {
    -fx-font-family: Ubuntu;
    -fx-text-fill: -fx-dark;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}